[buildout]
develop = .
parts = test docs

[test]
recipe = zc.recipe.testrunner
eggs = zope.schema [test]

[docs]
recipe = z3c.recipe.sphinxdoc
eggs = zope.schema [docs]
build-dir = ${buildout:directory}/docs
default.css =
layout.html =
