include *.rst
include *.txt

recursive-include docs *
recursive-include src *

global-exclude *.dll
global-exclude *.pyc
global-exclude *.pyo
global-exclude *.so
global-exclude coverage.xml

prune docs/_build

# added by check_manifest.py
include *.py
include .travis.yml
include buildout.cfg
include tox.ini
include .coveragerc
